@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html>body, html>body .toast-ui-editor, html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode {
	font-family: 'Pretendard-Regular';
	text-underline-position: under;
}

/*라이브러리*/
.table-box-type-1>table {
	width: 100%;
}
.table-box-type-1 th,.table-box-type-1 td{
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link {
	color: black;
}

.btn-text-link:hover {
	color: grey;
	text-decoration: underline;
}